/* Declaração de fontes */

@font-face {
    font-family: 'FonteDecorativa'; 
    src: url('../font/Library\ 3\ am.otf') format('opentype'); 
  }



/* Váriaveis de redefinição */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

h1 {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.401);
}

/* Ações de inicialização */

/* a.Botao-Home{
     border: 1px solid #db3e12; 
    border: 1px solid #197dff; 
    border-radius: 200px;
    padding: 10px;
   background-color: #efdb61; 
    background:  radial-gradient(circle,  #e277ff, #a658bb, #197dffb7);
    position: fixed;
    bottom: 10px;
    right: 10px;
} */

a.Botao-HomeMC {
    display: none;
}

a.Botao-Home > img{
    width: 35px;
}

.ligado {
    display: none;
}

.fundoClaro {
    background-image: radial-gradient(circle, #CFCFCF, #989898) !important;
}

.Letra-MClaro{
    color: var(--letra-modo-claro) !important;
}

:root {
    --letra-modo-claro: #222222;
    --cor-primaria: #373232;
    
    --FonteDecorativa: 'FonteDecorativa', sans-serif;
}

/* classes do CSS orientado a objeto */

.Horizontal-Fim {
    display: flex;
    width: 100%;
    justify-content: end;
}

.Borda-Colorida {
    background:  linear-gradient(to right, #004AAD, #CB6CE6);
}

/* Primeira Parte */

section.Primeira-Parte{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, var(--cor-primaria), black);
    display: flex;
    flex-flow: column nowrap;

}





section.Primeira-Parte > div > header > div > nav > a > img {
    width: 50px;
    
}

section.Primeira-Parte > div > header > div > nav > a > img#curriculo{
    transform: translateY(2px);
}

section.Primeira-Parte > div > div {
    display: flex;
    border: none;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100px;
}

section.Primeira-Parte > div > div > button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

section.Primeira-Parte > div > div > button > img {
    width: 60px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.366));
}

section.texto {
    position: absolute;
    top: calc(40% - 10px);
    left: calc(50% - 140px);
    width: 300px;
}

section.Primeira-Parte > section.texto > p {
    text-transform: uppercase;
    color: white;
    font-family: var(--FonteDecorativa);
    font-size: 10px;
}

section.Primeira-Parte > section.texto > h1 {
    text-transform: uppercase;
    color: white;
    font-size: 45px; 
    display: inline-block;
}

section.Primeira-Parte > section.texto > a > img {
    margin-left: 12px;
    width: 60px;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.387));
}

section.Segunda-Parte {
    background-color: #312D2D;
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: top;
   align-items: center;
}

section.Segunda-Parte > div.texto {
height: 25vh;
text-align: center;
}

section.Segunda-Parte > div.texto > img {
    cursor: pointer;
    width: 50px;
    margin: 10px;
}

section.Segunda-Parte > div.texto > h1 {
    margin-top: 20px;
    color: white;
   
    font-size: 20px;
}

section.Segunda-Parte > div.plataformas {
    width: 100%;
    height: 270px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

section.Segunda-Parte > div.plataformas > div {
  height: 160px;
  flex-basis: 160px;
}

/* section.Segunda-Parte > div.plataformas > div:hover {
    background:  linear-gradient(to right, #004AAD, #CB6CE6);
} */

section.Segunda-Parte > div.plataformas > div > div {
    display: block;
height: 158px;
transform: translate(1px, 1px);
width: calc(100% - 2px);
padding: 10px 15px 10px 15px;
margin-bottom: 14px;
}

section.Segunda-Parte > div.plataformas > div > div:hover{
    background-color: #292626;
    
}


section.Segunda-Parte > div.plataformas p{
    font-family: 'FonteDecorativa'; 
    color: white;
}

section.Segunda-Parte > div.plataformas img{
    width: 100px;
}


